# .env file to set up your site

# ---------------------------------
# Network name
# ---------------------------------
# Your container app must use a network conencted to your webproxy
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy


# ---------------------------------
# Container General configuration
# ---------------------------------
CONTAINER_BASE_NAME=web


# ---------------------------------
# Database Container configuration
# ---------------------------------
# Path to store your database
DB_PATH=./db

# Root password for your database
MYSQL_ROOT_PASSWORD=root_password

# Database name, user and password for Movable Type
MYSQL_DATABASE=database_name
MYSQL_USER=user_name
MYSQL_PASSWORD=user_password

# Host Database port
HOST_MYSQL_PORT=3306

# Host HTTP port
HOST_HTTP_PORT=8080


# ---------------------------------
# Apache Container configuration
# ---------------------------------
# Path to store your local files
APACHE_BASE_PATH=./htdocs

# Path to store your cms files
CMS_BASE_PATH=./mt

# Your domain (or domains)
DOMAINS=domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com

# Self-Signed Certificate name
CERT_NAME=default

# HTTPS method type
HTTPS_METHOD=noredirect
